.__alerts-container {
    position: fixed;
    right: 0;
    text-align: right;
    font-size: 6em;
    bottom: 0 !important;
    margin-top: 0;
    margin-left: 0;
    font-family: sans-serif;
    width: 100%;
    text-align: right;
    z-index: 999;
    color: black;
}

.__alerts-from {
    font-size: 0.4em;
    color: grey;
}
